*{
    margin: 0%;
    padding: 0%;
}
.parent{
    height: 600px;
    width: 100%;
    background-color: bisque;
}
.child1{
    height: 100px;
    width: 100%;
    background-color: gray;
}
.child2{
    height: 100px;
    width: 100%;
    background-color: aquamarine;
}
.child3{
    height: 300px;
    width: 100%;
}
.baby1{
    display: inline-block;
    height: 300px;
    width: 40%;
    background-color: olive;
}
.baby2{
    display: inline-block;
    height: 300px;
    width: 59%;
    background-color: palevioletred;
}
.child4{
    height: 100px;
    width: 100%;
}