*{
    margin: 0%;
    padding: 0%;
}
.parent{
    height:auto;
    background-color: blue;
}
.child1{
    height: 100px;
    background-color: powderblue;
}
.child2{
    height: 500px;
    background-color:purple ;
}
.baby1{
    height: 400px;
    width: 25%;
    background-color: powderblue;
    display: inline-block;
    padding-top: 240px;
}
.baby2{
    height: 400px;
    width: 73%;
    display: inline-block;
}
.papa1{
    height: 200px;
    width: 100%;

}
.manoj1{
    height:100%;
    width: 50%;
    background-color: powderblue;
    display: inline-block;
    border: 2px solid purple;
    
}
.manoj2{
    height: 100%;
    width: 48%;
    background-color: powderblue;
    display: inline-block;
    border: 2px solid purple;
}
.papa2{
    height:200px;
    width: 90%;
    background-color: powderblue;
    border: 2px solid purple;
    padding: 40px;
}

