
*{margin: 0%;
padding: 0%;
}
.parent{
 height: auto;
 width: auto;
 background-color: white;
}
.child1{
height: 100px;
width: 30%;
background-color: black;
color: white;
}
.child2{
height: 50px;
width:100%;
background-color:grey;
border: 4px solid white;
color: white;
}
.child3{
height: 100px;
width: 100%;
background-color: grey;
color: white;
}
.child4{
height:300px;
width:100%;
}
.baby1{
height: 300px;
width: 60%;
background-color: black;
display: inline-block;
border: 2px solid white;
color: white;
}
.baby2{
height: 300px;
width: 38%;
background-color: grey;
display: inline-block;
border: 2px solid aliceblue;
color: white;
}
.child5{
height: 200px;
width: 100%;
background-color: grey;
border: 2px solid white;
color: white;
}