*{
    margin:0%;
    padding: 0%;
}
.parent{
    height: auto;
    width: auto;
}
.child1{
    height: 100px;
    width: 100%;
    background-color: yellow;
}
.child2{
    height: 300px;
    width: 100%;
}
.baby1{
    height: 300px;
    width: 30%;
    background-color: blue;
    display: inline-block;
}
.baby2{
    height: 300px;
    width: 68%;
    background-color: green;
    display: inline-block;
}
.child3{
    height: 100px;
    width: 100%;
    background-color: red;
}