*{
    margin: 0%;
    padding: 0%;
   } 
   .parent{
    height: auto;
    width: auto;
   }
   .child1{
    height: 100px;
    width: 80%;
    background-color: plum;
   }
   .child2{
    height: 50px;
    width: 80%;
    background-color: blue;
   }
   .child3{
    height: 300px;
    width: 80%;
   }
   .baby1{
    height: 300px;
    width: 25%;
    background-color: plum;
    display: inline-block;
   }
   .baby2{
    height: 300px;
    width: 54%;
    background-color: white;
    display: inline-block;
   }
   .child4{
    height: 100px;
    width: 80%;
    background-color: blueviolet;
   }